.floatingbtn {
  animation: 2.5s ease infinite angular-translation;
}

@keyframes angular-translation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
