.books-content {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tilt-container {
  margin: 60px;
}

.books-heading {
  margin: 60px 0px;
  text-align: center;
}
.books-heading h1 {
  font-size: 4rem;
  font-family: var(--normal-text-font);
  color: rgb(221, 221, 221);
}

.tilt-container {
  width: 230px;
  height: 250px;
}

.book-card {
  position: relative;
  padding: 8px 10px 10px 10px;
  width: 230px;
  background: #1c2128;
  height: 250px;
  text-align: center;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 300ms;
  user-select: none;
  cursor: pointer;
  flex-direction: column;
  overflow: visible;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 5px 15px;
}

.bottom-container {
  /* height: 50px; */
  margin-top: 8px;
  padding: 8px;
  font-weight: bold;
  /* width: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  float: calc(50%);

  background: var(--primary-color);
}

.book-container {
  position: absolute;
  transform: translate(-50%, -50px);
  left: 50%;
  right: 10px;
}
/* 
.book-card:hover {
  transform: translateY(-5px) scale3d(1.02, 1.02, 5.05);
} */

.book-card .line {
  width: 20px;
  height: 2px;
  left: 50%;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}
