.poetry-input-form-heading{
    color: var(--primary-color);
}


.poetry-typ-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.poetry-typ-input label {
  margin: 10px 0;
  color : var(--primary-color);
}

.poetry-typ-input .error {
  font-size: 12px;
  margin-top: 2px;
  color: rgb(255, 54, 54);
}

.poetry-typ-input input,
.poetry-typ-input textarea,
.poetry-typ-input .poetry-input-field {
  min-height: 50px;
  background: #29313c;
  outline: none;
  border: none;
  color: #adbac7;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}

.poetry-typ-input .file-upload {
  min-height: 40px;
  background: #29313c !important;
  outline: none;
  border: none;
  color: #adbac7;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}

.poetry-typ-input label.required::after {
  content: " *";
  color: red;
}

.poetry-typ-input #link {
  color: rgb(134, 74, 249);
}

.poetry-typ-input .file-info {
  color: #adbac7;
  font-size: 9px;
}

.poetry-typ-input .poetry-input-field:hover,
.poetry-typ-input .poetry-input-field:active {
  background: #29313c;
  box-shadow: none;
  outline: none;
}
.poetry-input-field svg {
  color: #adbac7;
}

body .MuiMenu-paper {
  margin-top: 5px;
  box-shadow: none;
}
body .MuiMenu-paper,
body .MuiMenu-paper li {
  background: #29313c !important;
  color: #adbac7;
}

body .MuiMenu-paper li {
  transition: "300ms";
  width: 98%;
  margin: auto;
  border-radius: 2px;
}

body .MuiMenu-paper li:hover {
  color: #adbac7 !important;
  background: #2c394b !important;
}

body .MuiMenu-paper li.Mui-selected {
  background: var(--intro-canvas) !important;
}
